@model Proyecto

<h2>Crear Proyecto</h2>

<form asp-action="Create" method="post">
    <div class="mb-2">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>

    <div class="mb-2">
        <label>Fecha Inicio</label>
        <input asp-for="FechaInicio" type="date" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Fecha Fin</label>
        <input asp-for="FechaFin" type="date" class="form-control" />
    </div>

    <button class="btn btn-success mt-2">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancelar</a>
</form>
